@charset "UTF-8";
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
:root {
  --white: rgb(255, 255, 255);
  --blue-main: rgb(0, 87, 210);
  --blue-dark: rgb(29, 47, 96);
  --black: rgb(0, 0, 0);
  --gray-main: rgb(238, 239, 239);
  --gray-text: rgb(99, 102, 111);
  --gray-light: rgb(229, 229, 229); }

/* animation */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main; }

@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header; }

@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text; }

@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq; }

@font-face {
  src: url(../fonts/Suls-mir-emad/Suls.ttf);
  font-family: font-nastaliq-2; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 103.125em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 46.875em) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 26.875em) {
    html {
      font-size: 43%; } }
  @media only screen and (max-width: 19.375em) {
    html {
      font-size: 36%; } }

body {
  direction: rtl;
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15rem 3fr;
  grid-template-columns: 1fr 7fr; }
  @media only screen and (max-width: 22.5em) {
    body {
      grid-template-rows: 18rem 3fr; } }

::selection {
  color: var(--white);
  background-color: var(--blue-main); }

/* uniti css */
.font-sml {
  font-size: smaller; }

.font-nl {
  font: medium; }

.font-lg {
  font-size: xx-large; }

.font-llg {
  font-size: 7rem; }

.font-family-lato {
  font-family: "Lato", sans-serif; }

.font-size-rem {
  font-size: 1.5rem !important; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.background-telegram {
  background: #00dcdc; }

.img-size-position {
  background-size: cover;
  background-position: top; }

.u-center-text {
  text-align: center; }

.u-margin-bot-big {
  margin-bottom: 5rem !important; }

.u-margin-bot-med {
  margin-bottom: 2rem !important; }

.u-margin-bot-small {
  margin-bottom: 16px !important; }

.text-uppercase {
  text-transform: uppercase; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-med {
  margin-top: 3rem !important;
  margin-top: 2rem !important; }

.u-margin-top-2rem {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 5rem !important;
  margin-top: 3rem !important; }

.u-margin-top-hige {
  margin-top: 7rem !important;
  margin-top: 5rem !important; }

.u-font-size-2rem {
  font-size: 2rem; }

.u-padding-2rem {
  padding: 2rem; }

.u-dispaly-inline-block {
  display: inline-block; }

.position-re {
  position: relative !important; }

.position-ab {
  position: absolute !important; }

.header-text-white {
  color: var(--white) !important; }

.font-main {
  font-family: font-main; }

.font-header {
  font-family: font-header; }

.font-text {
  font-family: font-text; }

.hide {
  display: none !important; }

.selector-active {
  background: var(--blue-main) !important;
  width: 95% !important;
  text-align: center !important;
  color: white !important;
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
  transform: scale(1) translatex(-1rem) !important;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 31.25em) {
    .selector-active {
      box-shadow: 0 0.7rem 0.5rem rgba(0, 0, 0, 0.15);
      transform: scale(1) translatex(0) !important; } }

.fix-sidebar {
  background-color: var(--gray-main) !important;
  pointer-events: none !important;
  margin-top: 0 !important;
  display: none; }
  .fix-sidebar * {
    display: none !important; }

.background-gray-main {
  background: var(--gray-main) !important; }

.navbar {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-bottom: 1px solid var(--gray-text);
  box-shadow: 0 2rem 2rem rgba(var(--black), 0.1);
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .navbar {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 50em) {
    .navbar {
      flex-direction: column;
      padding: 1rem; } }
  .navbar__header-box {
    margin-right: -2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-start; }
    @media only screen and (max-width: 22.5em) {
      .navbar__header-box {
        flex-direction: column;
        padding-top: 2rem; } }
  .navbar__img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem; }
    @media only screen and (max-width: 26.875em) {
      .navbar__img {
        width: 6rem;
        height: 6rem; } }
  .navbar__header-1 {
    margin-right: 3rem;
    font-size: 3rem;
    font-family: font-header; }
    @media only screen and (max-width: 103.125em) {
      .navbar__header-1 {
        margin-right: 1rem; } }
  .navbar__header-2 {
    font-size: 2rem;
    font-family: font-nastaliq-2;
    color: var(--blue-main); }
    @media only screen and (max-width: 90.625em) {
      .navbar__header-2 {
        display: none; } }
  .navbar__icon-box {
    width: 27%;
    src: url(../../img/SVG/sprite.svg);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .navbar__icon-box {
        width: 80%;
        padding: 1rem; } }
    @media only screen and (max-width: 22.5em) {
      .navbar__icon-box {
        width: 100%;
        padding-bottom: 4rem; } }
    .navbar__icon-box__icon {
      width: 3rem;
      height: 3rem;
      fill: var(--blue-main);
      cursor: pointer;
      transition: all 0.2s; }
      .navbar__icon-box__icon:hover {
        transform: scale(1.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.sidebar {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 1fr [header-start] max-content [header-end] 0.5fr [details-start] max-content [details-end] 3fr [date-start] max-content [date-end];
  background-image: linear-gradient(to right, rgba(0, 87, 210, 0.7), rgba(0, 87, 210, 0.7)), url(../../img/sidebar-img.jpg);
  box-shadow: 0 2rem 1rem 1rem rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: left;
  padding: 1rem; }
  @media only screen and (max-width: 68.75em) {
    .sidebar {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: space-evenly; } }
  .sidebar__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: header-start / header-end;
    text-align: center; }
    @media only screen and (max-width: 68.75em) {
      .sidebar__header {
        display: none; } }
    .sidebar__header-img {
      width: 5rem;
      height: 5rem; }
    .sidebar__header-h3 {
      color: var(--white);
      font-size: 2.5rem;
      font-family: font-nastaliq;
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }
    .sidebar__header-h2 {
      color: var(--white);
      font-size: 3rem;
      font-family: font-header;
      text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }
    .sidebar__header-flag {
      margin-top: 2rem;
      width: 3rem;
      height: 2rem; }
  .sidebar__details {
    grid-row: details-start / details-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 68.75em) {
      .sidebar__details {
        flex-direction: row;
        width: 30%;
        justify-content: space-around; } }
    @media only screen and (max-width: 46.875em) {
      .sidebar__details {
        width: 42%; } }
    @media only screen and (max-width: 31.25em) {
      .sidebar__details {
        width: 50%; } }
    @media only screen and (max-width: 22.5em) {
      .sidebar__details {
        width: 55%; } }
    .sidebar__details-img--user {
      width: 8rem;
      border-radius: 50%;
      border: 2px solid var(--white); }
      @media only screen and (max-width: 22.5em) {
        .sidebar__details-img--user {
          border: 1px solid var(--white);
          width: 5rem;
          height: 5rem; } }
    .sidebar__details-textbox {
      font-size: 1.5rem;
      line-height: 4rem;
      color: rgba(255, 255, 255, 0.8); }
      .sidebar__details-textbox-p {
        font-family: font-text; }
        .sidebar__details-textbox-p:not(:last-child) {
          border-bottom: 1px solid var(--white); }
  .sidebar__date {
    grid-row: date-start / date-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white); }
    .sidebar__date > * {
      font-size: 1.8rem;
      font-family: font-text;
      text-align: center; }
    .sidebar__date > *:not(:last-child) {
      width: 10rem;
      border-bottom: 1px solid var(--white);
      padding: 0.5rem; }
    .sidebar__date-box {
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 68.75em) {
        .sidebar__date-box {
          display: none; } }
      .sidebar__date-box span {
        height: 100%;
        width: 1px;
        background-color: var(--white); }
    .sidebar__date-lastlogin {
      color: var(--white);
      padding-top: 0.5rem; }

.main-section {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 1fr 5rem; }
  @media only screen and (max-width: 68.75em) {
    .main-section {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      grid-template-rows: 1fr 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .main-section {
      display: flex;
      flex-direction: column; } }
  .main-section__sidebar {
    grid-row: 1 / -2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .main-section__sidebar {
        flex-direction: row;
        margin-top: 0;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 99; } }
    .main-section__sidebar--selector {
      text-align: right;
      width: 90%;
      padding: 2rem 2rem;
      font-size: 2rem;
      font-family: font-text;
      color: var(--gray-text);
      border-bottom: 1px solid var(--gray-main);
      cursor: pointer;
      transition: all 0.2s;
      position: relative;
      z-index: 100; }
      @media only screen and (max-width: 22.5em) {
        .main-section__sidebar--selector {
          padding: 1rem; } }
      .main-section__sidebar--selector::before {
        border-radius: 2px;
        content: "";
        position: absolute;
        z-index: -1;
        width: 3px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 87, 210, 0.73);
        transform: scaley(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
        @media only screen and (max-width: 31.25em) {
          .main-section__sidebar--selector::before {
            display: none; } }
      .main-section__sidebar--selector:hover {
        transform: scalex(1.1) translateX(-2rem);
        color: var(--white); }
        @media only screen and (max-width: 31.25em) {
          .main-section__sidebar--selector:hover {
            transform: scalex(1) translateX(0); } }
        .main-section__sidebar--selector:hover::before {
          transform: scaley(1);
          width: 100%; }
      .main-section__sidebar--selector:active, .main-section__sidebar--selector:focus {
        transform: translateX(-1.5rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25); }
        @media only screen and (max-width: 31.25em) {
          .main-section__sidebar--selector:active, .main-section__sidebar--selector:focus {
            transform: translateX(0);
            box-shadow: 0 0.5rem 0rem rgba(0, 0, 0, 0.25); } }
    .main-section__sidebar:first-child {
      border-top: 1px solid var(--gray-main); }
  .main-section__items {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--gray-main);
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 20rem;
    grid-gap: 2.5rem;
    overflow-y: scroll;
    height: 70rem; }
    @media only screen and (max-width: 50em) {
      .main-section__items {
        overflow-y: auto;
        height: auto; } }
    .main-section__items__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      cursor: pointer;
      background-color: var(--white);
      transition: all 0.2s; }
      .main-section__items__container__icon {
        width: 8rem;
        height: 8rem;
        fill: var(--blue-main); }
      .main-section__items__container__text {
        margin-top: 1rem;
        font-size: 2.5rem;
        font-family: font-text;
        color: var(--gray-text);
        text-align: center; }
    .main-section__items .hover-active-container:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: scale(1.05);
      background-color: var(--blue-main); }
      .main-section__items .hover-active-container:hover > * {
        color: white;
        fill: white; }
    .main-section__items .container--not-active {
      cursor: auto;
      opacity: 0.5; }
      .main-section__items .container--not-active__icon {
        width: 10rem;
        height: 10rem;
        fill: var(--gray-text); }
      .main-section__items .container--not-active__text {
        margin-top: 1rem;
        font-size: 2.5rem;
        font-family: font-text;
        color: var(--gray-text); }
    .main-section__items .container--fix__icon {
      width: 10rem;
      height: 10rem;
      fill: var(--blue-main); }
    .main-section__items .container--fix__text {
      margin-top: 1rem;
      font-size: 2.5rem;
      font-family: font-text;
      color: var(--gray-text); }
  .main-section span {
    grid-row: 2 / -1;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 31.25em) {
      .main-section span {
        display: none; } }

.chat {
  position: relative;
  width: 5rem;
  height: 5rem;
  bottom: 6rem;
  right: 27rem;
  grid-row: 2 / 3;
  grid-column: 2 /3;
  align-self: end;
  transform: translateX(25rem);
  transition: all 0.4s; }
  @media only screen and (max-width: 68.75em) {
    .chat {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      transform: translateX(0rem); } }
  .chat::after {
    content: "1";
    display: grid;
    place-items: center;
    position: absolute;
    top: -1rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    z-index: 101;
    border-radius: 50%;
    color: var(--white);
    background-color: #e1275f; }
  .chat__background {
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
    z-index: 99;
    background: linear-gradient(to left, rgba(28, 146, 210, 0.7), rgba(242, 252, 254, 0.5));
    transition: all 0.2s ease-out;
    backface-visibility: hidden;
    visibility: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(4, 1fr); }
    @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
      .chat__background {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px); } }
    .chat__background .message {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      display: grid;
      place-items: center; }
      .chat__background .message__box {
        color: var(--blue-dark);
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
        font-family: font-text;
        font-size: 2rem;
        text-align: center;
        background: linear-gradient(to right, rgba(47, 128, 237, 0.5), rgba(86, 204, 242, 0.5));
        padding: 0.5rem 4rem;
        border-radius: 4rem;
        position: relative;
        transition: all 0.1s; }
        .chat__background .message__box::after {
          content: "۲۲:۳۰";
          position: absolute;
          top: 50%;
          right: -2rem;
          transform: translatey(-50%);
          visibility: hidden;
          pointer-events: none;
          transition: all 0.2s;
          color: var(--gray-text); }
        .chat__background .message__box:hover::after {
          visibility: visible;
          pointer-events: all;
          right: -5rem; }
    .chat__background__chatbox {
      grid-row: 4 / 5;
      grid-column: 1 / -1; }
      .chat__background__chatbox .textbox {
        display: flex;
        justify-content: center;
        align-items: center; }
        .chat__background__chatbox .textbox__icon {
          cursor: pointer;
          margin-right: 1rem;
          padding: 0.5rem;
          width: 4rem;
          height: 4rem;
          fill: var(--blue-dark);
          border-radius: 50%;
          background-color: var(--white);
          transition: all 0.2s; }
          .chat__background__chatbox .textbox__icon:hover {
            background-color: var(--blue-dark);
            fill: var(--white);
            transform: scale(1.05); }
        .chat__background__chatbox .textbox__input {
          width: 60%;
          border: none;
          outline: none;
          padding: 0.5rem 1.5rem;
          border-radius: 2rem;
          font-size: 2rem;
          font-family: font-text;
          transition: all 0.2s; }
          .chat__background__chatbox .textbox__input:active, .chat__background__chatbox .textbox__input:focus {
            width: 70%; }
  .chat__label {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
    background-color: var(--blue-main);
    display: grid;
    place-items: center;
    transition: all 0.4 ease-out;
    z-index: 100; }
    .chat__label--icon {
      fill: var(--white);
      width: 80%;
      height: 80%; }
    .chat__label:hover {
      transform: scale(1.1); }
    .chat__label:active, .chat__label:focus {
      transform: scale(0.98);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25); }
  .chat-checkbox:checked ~ .chat__background {
    width: 35rem;
    height: 25rem;
    visibility: visible;
    transition: all 0.3s;
    box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.15); }
  .chat-checkbox {
    display: none; }
