*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main;
}
@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header;
}
@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text;
}
@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: sans-serif;
  min-height: 100vh;
}

::selection {
}
