*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main;
}
@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header;
}
@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text;
}
@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq;
}
@font-face {
  src: url(../fonts/Suls-mir-emad/Suls.ttf);
  font-family: font-nastaliq-2;
}

html {
  font-size: 62.5%;
  @include res(1650) {
    font-size: 58%;
  }
  @include res(800) {
    font-size: 55%;
  }
  @include res(750) {
    font-size: 52%;
  }
  @include res(500) {
    font-size: 48%;
  }
  @include res(430) {
    font-size: 43%;
  }
  @include res(310) {
    font-size: 36%;
  }

  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: sans-serif;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 15rem 3fr;
  grid-template-columns: 1fr 7fr;
  @include res(360) {
    grid-template-rows: 18rem 3fr;
  }
}

::selection {
  color: $color--white;
  background-color: $color--blue-main;
}
